<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet"> <!-- Updated -->
</head>
<body>
    <h1 class="text-3xl font-bold">Petitions</h1> <!-- Example Tailwind class -->
    <h2>BioID Codes</h2>
    <ul>
        {% for bioid in bioids %}
            <li>{{ bioid.code }}</li>  <!-- Display the code -->
        {% endfor %}
    </ul>
</body>
</html>